body{
    background-color: #F1F1F1;
}
#nav {
    background-color: rgb(233,77,48);
}
#nav .logo-nav {
    background-color: #F1F1F1;
    width: 150px;
    border-radius: 5px;
    padding: 0.5em;
}
.navbar-toggler:focus {
    outline: none !important;
}
#main-index section header {
    font-size: 2em;
    padding: 2em 0;
}
#main-index section header img {
    width: 50%;
}
#main-index .git-history {
    background-color: #191919;
    color: #E5E5E5;
    padding: 4em;
}
#main-index .git-definition {
    padding: 4em 4em 3em;
}
#main {
    padding: 2em 3em;
}
#main h2 {
    margin: 1em 0 0.5em;
}
#main h4 {
    margin: 2em 0 1em;
}
.popper-span {
    font-weight: bold;
}
.text-violet {
    color: violet;
}
.text-green {
    color: lightgreen;
}
.text-yellow {
    color: yellow;
}
.text-blue {
    color: lightblue;
}
#main-index .footer-section {
    text-align: center;
    padding: 0 4em 3em;
}
#footer {
    background-color: #E94D30;
    padding: 2em 0 0.5em;
}
#footer p {
    padding: 0 1em;
}
#footer div p:first-child {
    border-right: 1px solid black;
}
.footer-p {
    text-align: center;
    margin-top: 1em;
}
.logo-github-footer {
    width: 30px;
}
@media screen and (max-width: 768px) {
    #main-index section header {
        font-size:1.5em;
    }
    #main {
        padding: 2em 1em;
    }
    #main-index .git-history, #main-index .git-definition {
        padding: 3em 1em;
    }
    #main-index .footer-section {
        padding: 0 1em 3em;
    }
}