body{
    background-color: #F1F1F1;
}
#nav {
    background-color: rgb(233,77,48);
}
#nav .logo-nav {
    background-color: #F1F1F1;
    width: 150px;
    border-radius: 5px;
    padding: 0.5em;
}
#main section header {
    font-size: 2em;
    padding: 2em 0;
}
#main section header img {
    width: 50%;
}
#main-start {
    padding: 2em 3em;
}
#main-start h2 {
    margin: 1em 0 0.5em;
}
#main-start h4 {
    margin: 2em 0 1em;
}
.git-history {
    background-color: #191919;
    color: #E5E5E5;
    padding: 4em;
}
.git-definition {
    padding: 4em 4em 3em;
}
.popper-span {
    font-weight: bold;
}
.text-violet {
    color: violet;
}
.text-green {
    color: lightgreen;
}
.text-yellow {
    color: yellow;
}
.text-blue {
    color: lightblue;
}
.footer-section {
    text-align: center;
    padding: 0 3em 3em;
}
#footer {
    background-color: #E94D30;
    padding: 2em 0;
}
#footer p {
    padding: 0 1em;
}
#footer div p:first-child {
    border-right: 1px solid black;
}
#footer div a {
    color: #E5E5E5;
    text-decoration: none;
}
.navbar-toggler:focus {
    outline: none !important;
}
@media screen and (max-width: 575.98px) {
    #main section header {
        font-size:1.5em;
    }
    .git-history, .git-definition {
        padding: 3em 2em;
    }
    #main-start {
        padding: 2em;
    }
    .footer-section {
        text-align: center;
        padding: 0 2em 3em;
    }
}